link(rel="stylesheet", href="./asset/css/nav.css")
.nav
    span.logo #[span.bold Dog]Life#[span.red .]
    ul
        li #[a(class="red" href="#") 首頁] 
        li #[a(href="#") 關於]
        li #[a(href="#") 價格]
        li #[a(href="#") 聯絡]